service: ms-register
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'api'}
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource: "*"
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}

package:
  individually: true
  excludeDevDependencies: true
  exclude:
    - node_modules/@aws-sdk/**
    - node_modules/**/@aws-sdk/**
    - '**/*.test.ts'
    - '**/*.spec.ts'

functions:
  createCustomer:
    handler: src/adapters/driver/lambda/create_customer/create_customer.handler
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: /v1/customers
          method: POST
          cors: true

  listCustomers:
    handler: src/adapters/driver/lambda/list_customers/list_customers.handler
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: /v1/customers
          method: GET
          cors: true

  findCustomerByCpf:
    handler: src/adapters/driver/lambda/find_customer_by_cpf/find_customer_by_cpf.handler
    memorySize: 128
    timeout: 30
    events:
      - http:
          path: /v1/customers/{cpf}
          method: GET
          cors: true

plugins:
  - serverless-esbuild
  - serverless-prune-plugin

custom:
  esbuild:
    bundle: true
    minify: true
    target: node20
    exclude:
      - better-sqlite3
      - mysql2
      - mysql
      - sqlite3
      - tedious
      - pg-query-stream
      - oracledb
  prune:
    automatic: true
    number: 3
